.controller.xbox {
    background: url(https://cdn.discordapp.com/attachments/1153752593479245827/1160715664756056104/base2.png?ex=6535abb3&is=652336b3&hm=6e8ec0c501d3af38ce19d9792e84133d8b4d780c8b70b19aa102f5be9a89d643&.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -280px;*/
}
.xbox .quadrant {
    position: absolute;
    background: url(xbox-assets/quadrant.svg);
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    z-index: 0;
