.controller.xbox {
    background: url(https://cdn.discordapp.com/attachments/1153752593479245827/1160600105787867136/base.png?ex=65354014&is=6522cb14&hm=0ceb3109bcfda22fbc7c698f2e41a89856dc4d0656507b265a1d110501ca24d6&.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -280px;*/
}
.xbox .quadrant {
    position: absolute;
    background: url(xbox-assets/quadrant.svg);
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 5px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.xbox .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.xbox .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}
